.wrap1 {
    height: 610px;
    width: 1010px;
    background: #505050;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.x {
    border: 5px solid #ffffff;
    box-sizing: border-box;
    background: silver;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: x-large;
}

.a {
    height: 200px;
    width: 1000px;
}

.wrap2 {
    height: 400px;
    width: 1000px;
    display: flex;
    flex-direction: row;
}

.b {
    flex-grow: 7;
}

.c {
    flex-grow: 3;
}
