body
{
    background-color: antiquewhite;
}

h1
{
    color: #472904;
    text-align: center;
    background-color: bisque;
}
hr{
    height: 37px;
    border: bisque;
    background-color: bisque;
}
h2
{
    text-align: center;
}
.tensler
{
    font-size: large;
}
img{
   height: 385px;
    border-top:37px bisque solid;
    border-bottom:37px bisque solid;
}



